.container {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background-color: var(--purple);
  color: var(--white);
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: none;

  transition: 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.98);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.outlined {
    background-color: var(--background);
    border: 1px solid var(--purple);
    color: var(--purple);
  }
}
