* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f8f8f8;
  --text: #29292e;
}

body {
  background-color: var(--background);
  color: var(--text);
}

body,
input,
button,
textarea {
  font: 400 16px Roboto, sans-serif;
}

.modal {
  background: #f8f8f8;
  border-radius: 8px;
}

.modal-overlay {
  position: fixed;
  inset: 0 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba($color: #050206, $alpha: 0.3);
}
